{% extends 'baseTemplate.html' %}
{%block title%} Catalogue | Seneca {%endblock%}
{% block additionalDependencies %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='catalogue.css')}}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{%endblock%}
{% block content %}
<section class="wrapper">
    <div class="filter-sort-container">
        <div>
            <div id="search">
                <h4>Search</h4>
                <input id="search-field" class="bg-field" name="search-field" type="text"
                    placeholder="Search Title, Author, Genre or Publisher" />
            </div>
            <div id="options-bar">
                <h2>Sort & Filter Options <i class="fas fa-angle-down"></i></h2>
            </div>
        </div>
        <div id="options-container">

            <form class="filter" id="filter-form" method="GET">
                <fieldset id="filtering">
                    <legend>Filter Products</legend>
                    <div class="option-container">
                        <label for="price-range">Price Range:</label><br>
                        <input type="number" id="min-price" name="min-price" placeholder="Lower"
                            class="input-field num-field">
                        <input type="number" id="max-price" name="max-price" placeholder="Upper"
                            class="input-field num-field">
                    </div>
                    <div class="option-container">
                        <label for="page-range">Page Range:</label><br>
                        <input type="number" id="min-pages" name="min-pages" placeholder="Lower"
                            class="input-field num-field">
                        <input type="number" id="max-pages" name="max-pages" placeholder="Upper"
                            class="input-field num-field">
                    </div>
    
                </fieldset>
                <button type="submit" id="filter-btn" class="card-button">Apply Filters</button>
    
            </form>
            <hr>
            <fieldset id="sorting">
                <legend>Sort Products</legend>
                <div class="option-container">
    
                    <label for="sort-by">Sort By:</label><br>
                    <input type="radio" value="1" id="1" name="sort-option"> A-Z<br>
                    <input type="radio" value="2" id="2" name="sort-option"> Z-A<br>
                    <input type="radio" value="3" id="3" name="sort-option"> Price (Ascending)<br>
                    <input type="radio" value="4" id="4" name="sort-option"> Price (Descending)<br>
                    <input type="radio" value="5" id="5" name="sort-option"> Publication Date (Ascending)<br>
                    <input type="radio" value="6" id="6" name="sort-option"> Publication Date (Descending)<br>
                    <input type="radio" value="7" id="7" name="sort-option"> Author Name (Ascending)<br>
                    <input type="radio" value="8" id="8" name="sort-option"> Author Name (Descending)<br>
                    <input type="radio" value="9" id="9" name="sort-option"> Pages (Descending)<br>
                    <input type="radio" value="10" id="10" name="sort-option"> Pages (Descending)<br>
                    </select>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="product-container">
    </div>
</section>
<div class="pagination">
</div>
<script src="{{url_for('static', filename='scripts/renderProducts.js')}}" defer></script>
<script src="{{url_for('static', filename='scripts/favourites.js')}}" defer></script>
<script>
    $(document).ready(function(){
        $('#options-bar').click(function(){
            $('#options-container').slideToggle("slow")
        })
    })
</script>
{%endblock%}