{% extends 'baseTemplate.html' %}
{% block title %} Contact | Seneca {% endblock %}
{% block additionalDependencies %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='contact.css')}}">
{%endblock%}
{% block content %}
<section class="letter">
    <h2>"Speak, so that I may see you."</h2><hr>
    At Seneca, we are dedicated to providing the best reading experience possible. We believe in constant
    improvement and innovation, and your feedback is a crucial part of that journey. Whether you have suggestions,
    compliments, or concerns, we are eager to hear from you. Please fill out the form below, and rest assured, your
    insights will help us elevate our services even further. Thank you for helping us create the ultimate ebook store
    experience.
</section>
<form class="container" id="contact-form">
    {{feedbackForm.csrf_token}}
    <div class="upper-fields">
            {{feedbackForm.email}}
            {{feedbackForm.title}}
            {{feedbackForm.flag}}

    </div>
    {{feedbackForm.query}}
    <button type="submit" class="feedback-button">Submit</button>
</form>

<script type="module" src="{{url_for('static', filename = 'scripts/manageFeedback.js')}}"></script>
{% endblock %}