{% extends 'baseTemplate.html' %}
{% block title %} {% endblock %}
{% block additionalDependencies %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='error.css')}}">
{% endblock %}

{% block content %}
    <section class="wrapper">
        <div class="details">
            <span class="error-head">{{head}}</span>
            <span class="error-body">{{message}}</span>
            <span class="error-code">{{code}}</span>
        </div>
        <figure>
            <img src="" alt="error-icon">
        </figure>
    </section>
{% endblock %}