{% extends 'baseTemplate.html' %}
{% block title %} Home | Seneca {% endblock %}
{% block additionalDependencies %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='homepageStyles.css')}}">
{% endblock %}
{% block content %}
<section class="banner-container">
    <div class="banner-readable">
        <h1 class="banner-title brand-text">Seneca: Where Every Story Matters</h1>
        <hr>
        <span class="banner-promo fancy-text">
            At Seneca, we believe that reading is not just a pastime—it's a way of life. Our unwavering dedication to
            bringing the world's finest books to your fingertips ensures that you experience literature like never
            before. Whether you're lounging at home, commuting to work, or traveling the globe, Seneca makes it possible
            to immerse yourself in your favorite stories anytime, anywhere.<br>

            Discover the joy of reading with us, and let Seneca be your ultimate literary companion.<br>
        </span>
        <div class="container">
            <button id="redirect-catalogue" class="sideswipe-btn" type="button">Explore</button>
        </div>
    </div>
</section>
<section class="about">
    <h2 class="brand-text">About Us</h2>
    <div class="line-idk-man-why-am-I-even-trying"></div>
    <span class="fancy-text">Welcome to Seneca, your premier online destination for eBooks that enlighten, entertain,
        and educate. At Seneca, we believe that books have the power to transform lives and open doors to new worlds.
        Whether you are a passionate reader, a lifelong learner, or someone looking to escape into a good story, our
        extensive collection has something for everyone.
    </span>
    <div class="promises-container">
        <div class="promise-card">
            <i class="fas fa-shield-alt"></i>
            <hr>
            <h5 class="fancy-text">Trust</h5>
            <span class="promise-text">At Seneca, we prioritize your security and privacy.
                Your trust is our top priority, and we are committed to providing a safe and secure online
                environment for all our users.</span>
        </div>
        <div class="promise-card">
            <i class="fas fa-heart"></i>
            <hr>
            <h5 class="fancy-text">Support</h5>
            <span class="promise-text">At Seneca, support goes beyond just providing help when needed.
                The support from both our team and our user community is always available to enhance your Seneca
                experience.</span>

        </div>
        <div class="promise-card">
            <i class="fas fa-book"></i>
            <hr>
            <h5 class="fancy-text">Diversity</h5>
            <span class="promise-text">Seneca boasts an unparalleled collection of ebooks, catering to every reader's
                taste. Whether you're seeking the latest thriller, a heartwarming
                romance, or non-fiction, we has it all.</span>
        </div>
    </div>
</section>
<section class="promo">
    <h5 class="brand-text">Why Choose Seneca</h5>
    <span class="fancy-text" id="pp">Our platform is built on accomplishments, not just promises</span>
    <hr>
    <span class="promo-subheader">
    </span>
    <div class="icons">
        <div class="icon">
            <img src="{{url_for('static', filename='assets/map-location-pin-svgrepo-com.svg')}}" alt="genres">
            <span class="number">20+</span>
            <span class="desc">Genres to explore</span>
        </div>
        <div class="icon">
            <img src="{{url_for('static', filename='assets/download-svgrepo-com.svg')}}" alt="downloads">
            <span class="number">300K+</span>
            <span class="desc">Book downloads</span>
        </div>
        <div class="icon">
            <img src="{{url_for('static', filename='assets/books-svgrepo-com.svg')}}" alt="books">

            <span class="number">90K+</span>
            <span class="desc">Books Available</span>
        </div>
        <div class="icon">
            <img src="{{url_for('static', filename='assets/user-svgrepo-com.svg')}}" alt="user">
            <span class="number">10K+</span>
            <span class="desc">Users on Seneca</span>
        </div>
    </div>
</section>
<section class="featured">
    <h3 class="brand-text">Featured Genres</h3>
    <div class="line-idk-man-why-am-I-even-trying"></div>

    <div class="container">
        <div class="featured-card">
            <img class="icon" src="{{url_for('static', filename='assets/heart-angle-svgrepo-com.svg')}}" height="100"
                width="100"></img>
            <span class="genre-title">Romance
                <hr>
            </span>
            <span class="genre-desc">Embark on a journey of passion and heartache as love blooms in unexpected places in
                the rich tapestry of romantic novels</span>
            <button id="redirect-catalogue" class="sideswipe-btn" type="button"
                onclick="window.location.href = '/catalogue'">Explore</button>

        </div>
        <div class="featured-card">
            <img class="icon" src="{{url_for('static', filename='assets/dragon-svgrepo-com.svg')}}" height="100"
                width="100"></img>
            <span class="genre-title">Fiction
                <hr>
            </span>
            <span class="genre-desc">Immerse yourself in the boundless realms of fiction, where every page holds the
                promise of adventure, mystery, and the extraordinary.</span>
            <button id="redirect-catalogue" class="sideswipe-btn" type="button"
                onclick="window.location.href = '/catalogue'">Explore</button>
        </div>
        <div class="featured-card">
            <img class="icon" src="{{url_for('static', filename='assets/eye-svgrepo-com.svg')}}" height="100"
                width="100"></img>
            <span class="genre-title">Dystopian
                <hr>
            </span>
            <span class="genre-desc">Experience the thrill of dystopian fiction, where societies teeter on the brink of
                collapse, and heroes emerge from the shadows to challenge the status quo.</span>
            <button id="redirect-catalogue" class="sideswipe-btn" type="button"
                onclick="window.location.href = '/catalogue'">Explore</button>
        </div>
    </div>
</section>
<section class="bestsellers">
    <div class="bestsellers-text">
        <h2 class="brand-text">Bestsellers</h2>
        <span>Dive into the very best that Seneca has to offer</span>
        <hr>
    </div>
    <div class="bestsellers-ribbon">
        {% for item in bestSellers %}
        <a href="products/id={{item['id']}}">
            <div class="container">
                <img class="backdrop" src="{{item['cover']}}"></img>
                <img src="{{item['cover']}}" alt="{{item['title']}}">
                <hr>
                <span class="text">
                    {{ item['title'] }}
                </span>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
<section class="team">
    <h3 class="fancy-text">Meet the team</h3>
    <div class="line-idk-man-why-am-I-even-trying"></div>
    <div class="container">
        <div class="card">
            <span class="header-text">Design: Parth</span>
            <hr>
            <span-description>If you've scrolled this far, you must have wondered why the design of this website is so
                sub-par,
                well, that is all thanks to our one and only designer, Parth. He is responsible for the entire design of
                Seneca, which is
                why the interface is almost unbearably ugly :D
            </span-description>
        </div>
        <div class="card">
            <span class="header-text">Development: Parth</span>
            <hr>
            <span-description>Again, it's your boy, Parth. He is responsible for the entire backend as well, developing
                robust APIs and queries, handling
                input validation, edge cases (pause), implementing logic for handling orders and managing carts, and any
                other feature you come across.
            </span-description>
        </div>
        <div class="card">
            <span class="header-text">Vision: Parth</span>
            <hr>
            <span-description>The vision of Seneca was to provide a platform for me to practice using Flask to build
                something that I personally could use. The inspiration for this website is Kindle, of course. By making
                this site, I may not have perfected APIs or web design or Flask or SQLAlchemy, but this project has
                allowed me to practice all of these skills.</span-description>
        </div>
    </div>
</section>
{% endblock %}