{% extends 'baseTemplate.html' %}
{% block title %} Login | Seneca {% endblock %}
{% block additionalDependencies %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='signup-login.css')}}">
{% endblock %}
{% block content %}
<section class="login-wrapper">
    <h2>Login</h2>
    <hr>
    <form id="loginForm" method="POST">
        {{ loginForm.csrf_token }}

        {{loginForm.emailPhone}}
        {{loginForm.password}}
        <input type="submit" class="hover-button">
    </form>
    <script type="module" src="{{url_for('static', filename='scripts/loginValidation.js')}}"></script>
</section>

{%endblock%}