{% extends 'baseTemplate.html' %}
<head>
    {% block title %} {{ product['title'] }} | Seneca{% endblock %}

    {% block additionalDependencies %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='product.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stars.css')}}">

        <!-- Meta Tags for SEO -->
        <meta name="keywords" content="product, {{product['title']}}, buy {{product['title']}}, by {{product['author']}}">
    
        <!-- Open Graph Meta Tags for Social Media -->
        <meta property="og:title" content="{{ product['title'] }}" />
        <meta property="og:description" content="{{ product['summary'] }}" />
        <meta property="og:image" content="{{product['cover']}}" />
        <meta property="og:url" content="{{ request.url }}" />
    
        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ product['title'] }}">
        <meta name="twitter:description" content="{{ product['summary'] }}">
        <meta name="twitter:image" content="{{product['cover']}}">
    
        <!-- Schema.org Markup -->
        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Product",
          "name": "{{ product['title'] }}",
          "image": "{{product['cover']}}",
          "description": "{{ product['summary'] }}",
          "brand": {
            "@type": "Thing",
            "name": "Seneca"
          },
          "offers": {
            "@type": "Offer",
            "url": "{{ request.url }}",
            "priceCurrency": "USD",
            "price": "{{ product['price'] }}",
            "itemCondition": "http://schema.org/NewCondition",
            "availability": "http://schema.org/InStock"
          }
        }
    </script>
    {% endblock %}
</head>
{% block content %}
<section class="product-container">
    <div class="product-image">
        <img class="backdrop" src="{{product['cover']}}"></img>
        <img src="{{product['cover']}}" alt="{{product['title']}}" id="book-cover">
    </div>
    <div class="product-info">
        <h2>{{product['title']}}</h2>
        <hr style="margin-bottom: 0.5rem;">
        Product Details:
        <div class="upper-specs">
            <span class="id">Written By: {{product['author']}}</span>
            <span class="file-format">Format: {{product['file_format']}}</span>
        </div>
        <div class="lower-specs">
            <span class="price">Original Price: ${{product['price']}}</span>
            <span class="discount">Discount: {{product['discount']}}</span>
        </div>
        <div class="ratings">
            <span class="rating">Rating: {{product['rating']}}</span>
            <span class="reviews">Reviews: {{product['reviews']}}</span>
        </div>
        <span class="sold">Sold: {{product['sold']}}</span>
        <hr>
        <p class=summary>{{product['summary']}}</p>
        <hr>
        <div class="icons">
            <div>
                <i class="fas fa-book icon"></i>
                <span class="pp">Print Length</span>
            </div>
            <div>
                <i class="fas fa-calendar icon"></i>
                <span class="pp">Publication Date</span>
            </div>
            <div>
                <i class="fas fa-print icon"></i>
                <span class="pp">Publisher</span>
            </div>
            <div>
                <i class="fas fa-globe icon"></i>
                <span class="pp">Language</span>
            </div>
            <span class="pages">{{product['pages']}}</span>
            <span class="publish-date">{{product['publication_date']}}</span>
            <span class="publisher">{{product['publisher']}}</span>
            <span class="language">{{product['language']}}</span>
        </div>
        <button id="add-to-cart" class="hover-button" type="button">Add To Cart </button>
        <button id="fav-button" class="hover-button" type="button">Add To Favourites</button>
    </div>
</section>
<div class="form-top">
    <h3>Reviews</h3>
    <hr>
    {% if not signedIn %}
    <div class="reviews-top">
        <p>Wish to share your thoughts about this book? Create an account and let the world hear your critique!</p>
    </div>
    {% endif %}
</div>
{% if signedIn %}
<form id="review-form">
    <legend>Write A Review</legend>
    <div class='review-top'>
        <input id="review-title" name="review-title" maxlength="32" placeholder="Add a title" />
        <div id="full-stars-example-two">
            <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none"
                    value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="rating3-1"><i
                        class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="rating3-2"><i
                        class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="rating3-3"><i
                        class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="rating3-4"><i
                        class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="rating3-5"><i
                        class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
            </div>
        </div>

    </div>
    <textarea placeholder="Write a review" name="review-body" maxlength="1024" spellcheck="true" class="review-body"
        form="review-form"></textarea>
    <button type="submit" id="submit-review" class="hover-button">Send Review</button>
</form>
{% endif %}
<section class="review-section">

</section>
<!-- Scripts -->
<script src="{{url_for('static', filename = 'scripts/orderHandler.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename = 'scripts/favourites.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename = 'scripts/sendReview.js')}}" type = "module"></script>
{% endblock %}