.navbar{
    margin-bottom: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    row-gap: 0;
    position: relative;
}

.filter-sort-container{
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: var(--BGCOLOR-ICONS-1);
    padding: 1rem;
    
    #options-container{
        display: none;
    }
    .bg-field {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    hr{
        margin-top: 1rem;
        margin-bottom: 0;
    }
    #options-bar{
        width:fit-content;
        color: var(--TEXT-COLOR-LIGHT);
        margin-bottom: 0;
    }
    .filter {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        background-color: var(--BGCOLOR-ICONS-1);
    
        font-size: 1.1rem;
        height: fit-content;


        legend {
            font-weight: bold;
            color: var(--TEXT-COLOR-LIGHT);
            border: none; 
            margin-bottom: 0;
        }
        
    }
    
    .filter hr{
        margin: 0;
    }
}

.input-field ,
select{
    padding-left: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    height: 2rem;
    background-color: var(--BGCOLOR-BUTTONS-1);

    color: var(--TEXT-COLOR-LIGHT   )
}
select{
    width: 20rem;
    margin-bottom: 0;
}
option{
    background-color: var(--BGCOLOR-ICONS-1);
}

.num-field{
    width: 40%;
}
#authors{
    width: 55%;
}

.num-field:first-of-type{
    margin-right: 1rem;
}

.input-field::placeholder {
    color: var(--TEXT-COLOR-LIGHT);
    font-style: italic;
}

.input-field:is(:hover, :focus)::placeholder {
    color: var(--TEXT-COLOR-LIGHTER);
    font-style: italic;
}


.product-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.option-container {
    margin: 1rem 0;
}

.pagination{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 10%
}
@media screen and (min-width: 320px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .filter-sort-container{
        grid-template-columns: 100%;
    }
    .filter{
        position: relative;
        margin-top: 0;
    }

    .navbar{
        margin-bottom: 0;
    }

    .product-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 1rem 0.35rem;
    }

    .product-card{
        width: 100%;
        flex-flow: row nowrap;
        height: 15rem;
    }

    .product-card .product-image img{
        object-fit: contain;
        width: 100%;
    }
    
    .product-card .product-image{
        flex: 0 1 auto;
        border-bottom: none;
    }

    .product-card .product-details{
        width: 100%;
        flex-grow: 1;
    }

    .book-credentials{
        height: 25%;
        }
    
    .book-credentials .product-title{
        font-size: var(--FSIZE);
    }
    .book-credentials .product-author{
        font-size: var(--FSIZE-S);
    }
    .product-card .product-genre-container {
        width: 65%;
    }
    .product-card .product-genre-rating{
        height: 22%;
    }
    .product-card .product-genre{
        font-size: 0.6rem;
        margin-bottom: 0.3rem;
        margin-right: 0.3rem;
    }

    .product-file,
    .product-card .product-rating{
        font-size: var(--FSIZE);
    }

    .card-buttons button{
        height: fit-content;
    }

    .card-buttons button{
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    }
    .card-buttons > div{
        width: 80%;
    }
    .filter-dropdown {
        margin-bottom: 1rem;
    }
    
}

@media screen and (min-width: 576px){
    .book-credentials .product-title{
        font-size: var(--FSIZE-L);
    }
    .book-credentials .product-author{
        font-size: var(--FSIZE);
    }

    .product-file,
    .product-card .product-rating{
        font-size: var(--FSIZE-SLIGHTLY-LARGER);
    }

    .product-card .product-genre{
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
    }

    .card-buttons > div {
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .product-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        padding: 1rem 0.35rem;
        column-gap: 1rem;
    }

    .book-credentials .product-title{
        font-size: var(--FSIZE);
    }
    .book-credentials .product-author{
        font-size: var(--FSIZE-S);
    }

    .product-card .product-rating{
        font-size: var(--FSIZE-S);
        margin-right: 0;
    }

    .product-file,
    .product-price{
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    }

    .product-card .product-genre{
        font-size: 0.7rem;
        margin-bottom: 0.3rem;
        margin-right: 0.3rem;
    }

    .product-card .product-genre-container{
        width: 82%;
    }
}

@media screen and (min-width: 992px){
    .book-credentials .product-title{
        font-size: var(--FSIZE-SLIGHTLY-LARGER);
    }
    .book-credentials .product-author{
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    }

    .product-card .product-rating{
        font-size: var(--FSIZE-SLIGHTLY-LARGER);
    }

    .product-file,
    .product-price{
        font-size: var(--FSIZE);
    }

    .product-card .product-genre{
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
        margin-right: 0.4rem;
    }

    .product-card .product-genre-container{
        margin-top: 0.2rem;
    }
    .card-buttons button{
        font-size: var(--FSIZE);
    }
}
@media screen and (min-width: 1200px){
    .wrapper{
        grid-template-columns: 20% 80%;
        position: relative;
    }
    .filter-sort-container{
        display: flex;
        flex-direction: column;
        background-color: var(--BGCOLOR-ICONS-1);
        height: fit-content;
        border-bottom-right-radius: 15px;
        position: sticky;
        top: 0;
        left: 0;

        .fas.fa-angle-down{
            display: none;
        }
        #options-container{
            display: block;
        }
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(3, 31%);
        grid-template-rows: auto auto;
        padding: 1rem 0.35rem;
        column-gap: 1rem;
    }

    .product-card {
        height: 42rem;
        background-color: var(--BGCOLOR-ICONS-1);
        border-radius: 25px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .product-card:is(:hover, :focus) {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
    
    /* Product Card: Image */
    .product-card .product-image {
        flex: 0 0 60%; 
        display: flex;
        align-items: center;
        justify-content: center;
        /* border-bottom: 1px solid white; */
        height: 18rem;
    }
    

    .product-card .product-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    /* Other details */
    .product-details {
        flex: 0 0 40%; 
        padding: 0 1rem;
        display: grid;
        grid-template-columns: 1fr;
        /* justify-content: space-between; */
        /* gap: 0; */
    }

    /* Author and Title */
    .book-credentials {
        height: 20%;
        display: flex;
        flex-direction: column;
        /* border-bottom: 1px solid var(--TEXT-COLOR-LIGHT); */
        line-height: 1.3rem;
    }
    
    .product-card :is(.product-title, .product-author) {
        text-align: center;
    }
    .product-card .product-image{
        position: relative;
        margin-top: 1rem;
        margin-bottom: 0.2rem;
    }

    .backdrop{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .product-card .product-title {
        font-size: var(--FSIZE-L);
        /* overflow: hidden; */
        text-overflow: ellipsis;
    }
    
    .product-card .product-author {
        margin: 0;
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
        /* margin-bottom: 0.5rem; */
    }
    
    /* Genres and Rating */
    .product-card .product-genre-rating {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 24%;
    }

    .product-card .product-genre-container {
        display: flex;
        flex-flow: row wrap;
        width: 75%;
    }
    
    .product-card .product-genre {
        display: inline-flex;
        border-radius: 12px;
        padding: 5px;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        width: fit-content;
        height: fit-content;
        text-align: center;
        font-weight: bold;
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    }
    
    .product-card .product-rating {
        display: inline-flex;
        text-align: right;
        font-size: var(--FSIZE-SLIGHTLY-LARGER);
        margin-right: 0.5rem;
    }

    .product-card .card-buttons{
        padding-top: 0;
    }
}