.empty-cart-msg{
    margin: 1rem auto;
    font-size: var(--FSIZE-L);
    width: 50%;
    text-align: center;
    margin-bottom: 2rem;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

/* CSS */
.browse-button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.browse-button:disabled {
  pointer-events: none;
}

.browse-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.browse-button:active {
  box-shadow: none;
  transform: translateY(0);
}

footer{
    display: none;
}

#quote::before{
  content: open-quote;
  font-size: 1.3em;
}

#quote::after{
  content: close-quote;
  font-size: 1.3em;
}