.page-container{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100px;

    justify-content: space-between;
    padding: 0 2rem;
}

.product-container{
    /* border: 2px solid white; */
    border-right: 1px solid white;
    column-count: 1; /* Number of columns */
    column-gap: 3rem; /* Space between columns */
    padding: 20px;
    /* background-color: #f8f8f8; */
    width: 60%;
}

.bill{
    width: 35%;
    display: flex;
    flex-flow: column wrap;
}


.product-header,
.bill-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    align-items: center;
    padding: 10px;
}
.bill-card:nth-child(even){
    background-color: var(--BGCOLOR-ICONS-1);
}
.product-header {
    font-weight: bold;
    padding: 15px 10px;
}

.bill-card {
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
}

.bill-card .product-image img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    padding: 0;
}

.bill-card div {
    padding: 10px;
}

#quote::before{
    content: open-quote;
    font-size: 1.3em;
  }
  
  #quote::after{
    content: close-quote;
    font-size: 1.3em;
  }
  
  .cart-summary{
    background-color: var(--BG-COLOR-ICONS);
  }
  
  .page-container{
    justify-content: space-evenly;
  }
  .empty-cart-msg{
    margin: 1rem auto;
    font-size: var(--FSIZE-L);
    width: 50%;
    text-align: center;
    margin-bottom: 2rem;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.hover-button{
    /* width:12rem; */
    width: fit-content;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.bg-field {
    width: 60%;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: #ffffff; /* White background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-size: 16px;
    transition: all 0.3s ease;
    margin-bottom: 0.5rem;
}

/* Placeholder styling */
.bg-field::placeholder {
    color: #a9a9a9; /* Light gray placeholder text */
}

/* Focus and hover effects */
.bg-field:focus,
.bg-field:hover {
    outline: 2px solid green;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.4); /* Stronger shadow */
    background-color: #f7f7f7; /* Slightly darker background */
    transform: translateY(-2px);
}

#total-bill,
#total-items{
    font-size: var(--FSIZE-L);
}
.text-span{
    display: block;
    margin-bottom: 1rem;
}