.page-container{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100px;

    /* justify-content: space-between; */
    padding: 0 2rem;
}

.product-container{
    border-right: 1px solid white;
    column-count: 1; 
    column-gap: 3rem; 
    padding: 20px;
    width: 60%;
}

.bill{
    width: 35%;
    display: flex;
    flex-flow: column wrap;
}


.product-header,
.bill-card {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr 1fr 0.5fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
}
.bill-card:nth-child(even){
    background-color: var(--BGCOLOR-ICONS-1);
}
.product-header {
    font-weight: bold;
    padding: 15px 10px;
}

.bill-card {
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
}

.bill-card .product-image img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    padding: 0;
}

.bill-card div {
    padding: 10px;
}

#quote::before{
    content: open-quote;
    font-size: 1.3em;
  }
  
  #quote::after{
    content: close-quote;
    font-size: 1.3em;
  }
  
  .cart-summary{
    background-color: var(--BG-COLOR-ICONS);
  }
  
  .page-container{
    justify-content: space-evenly;
  }
  .empty-cart-msg{
    margin: 1rem auto;
    font-size: var(--FSIZE-L);
    width: 50%;
    text-align: center;
    margin-bottom: 2rem;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.hover-button{
    /* width:12rem; */
    width: fit-content;
}

.bg-field {
    width: 60%;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: #ffffff; /* White background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-size: 16px;
    transition: all 0.3s ease;
    margin-bottom: 0.5rem;
}

/* Placeholder styling */
.bg-field::placeholder {
    color: #a9a9a9; /* Light gray placeholder text */
}

/* Focus and hover effects */
.bg-field:focus,
.bg-field:hover {
    outline: 2px solid green;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.4); /* Stronger shadow */
    background-color: #f7f7f7; /* Slightly darker background */
    transform: translateY(-2px);
}

#total-bill,
#total-items{
    font-size: var(--FSIZE-L);
}
.text-span{
    display: block;
    margin-bottom: 1rem;
}

.subtract-icon{
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: red;
    outline: none;
    border: none;
    font-weight: 1000;
    border-radius: 50%;
}

@media screen and (min-width: 480px){
    .page-container{
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }
    .product-container{
        border-right: none;
        border-bottom: 1px solid white;
        width: 100%;
    }

    .bill-card .product-image{
        display: none;
    }

    .product-header div{
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    }
    .product-header > div:first-child{
        display: none;
    }
    .product-header,
    .bill-card{
        grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr 0.5fr;
    }

    .bill{
        width: 100%;
        padding: 1rem 1.5rem;
        margin-bottom: 0;
        background-color: var(--BGCOLOR-ICONS-1);
    }

    .bill-card > div:is(:nth-child(2), :nth-child(3)){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (min-width: 576px){
    .bill-card > div:is(:nth-child(2), :nth-child(3)){
        white-space: wrap;
        overflow:visible;
    }
}
@media screen and (min-width: 768px){
    .product-header,
    .bill-card{
        grid-template-columns: 1.5fr 1.2fr 1fr 1fr 1fr 1fr 0.5fr;
    }

    .bill-card .product-image{
        display: block;
    }

    .product-header div{
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    }
    .product-header > div:first-child{
        display: block;
        padding-left: 1rem;
    }
}

@media screen and (min-width: 992px){
    .product-header div{
        font-size: var(--FSIZE);
    }
}

@media screen and (min-width: 1200px){
    .product-header,
    .bill-card {
        display: grid;
        grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr 1fr 0.5fr;
        gap: 10px;
        align-items: center;
        padding: 10px;
    }
    .product-header div{
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    }
    .page-container{
        display: flex;
        flex-flow: row wrap;
        flex-basis: 100px;
    
        justify-content: space-between;
        padding: 0 2rem;
        gap: 0;
    }
    
    .product-container{
        border: none;
        border-right: 1px solid white;
        column-count: 1; 
        column-gap: 3rem; 
        padding: 20px;
        width: 60%;
    }
    
    .bill{
        width: 38%;
        display: flex;
        flex-flow: column wrap;
        border-radius: 20px;
        height: fit-content;
    }
}