.wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    background-color: var(--BGCOLOR-ICONS-1);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
    margin-top: 1rem;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;

    font-size: 1.1rem;
}


.input-field ,
select{
    padding-left: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    height: 2rem;
    background-color: transparent;

    color: var(--TEXT-COLOR-LIGHT   )
}
select{
    width: 20rem;
    margin-bottom: 0;
}
option{
    background-color: var(--BGCOLOR-ICONS-1);
}
.num-field{
    width: 6rem;
}

.num-field:first-of-type{
    margin-right: 1rem;
}

.input-field::placeholder {
    color: rgba(255, 255, 255, 0.15);
    font-style: italic;
}

.input-field:is(:hover, :focus)::placeholder {
    color: rgba(36, 36, 36, 0.65);
    font-style: italic;
}


.product-container {
    display: flex;
    flex-flow: row wrap;
    /* gap: 1rem; */
    justify-content: space-evenly;
    /* margin-top: 1rem; */
}

.option-container {
    margin: 1rem 0;
}

legend {
    font-weight: bold;
    color: #333;
    border: none; /* Ensure no custom border settings override default */
    margin-bottom: 0; /* Ensure no margin affecting display */
}