/* IMPORTS */
@font-face {
    font-family: French;
    src: url(fonts/FeFCrm2.ttf);
}
@font-face {
    font-family: French2;
    src: url(fonts/FeFCrm2.ttf);
}
@font-face {
    font-family: French-Canon-Bold;
    src: url(fonts/im-fell-french-canon.bold.ttf);
}
/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* VARIABLES */
:root{
    /* BACKGROUND IMAGES */
    /* Alt: Light mode
       Main: Dark mode */
    --BGIMG: url('assets/background.png');
    --BGIMG-ALT: url('assets/background.png');          /*  Light mode background */
    --BGCOLOR: rgb(59, 59, 59);
    --BGCOLOR-ICONS-1: black;
    
    /* Font sizes */
    --FSIZE-SMALLEST: 0.5rem;
    --FSIZE-S: 0.7rem;
    --FSIZE: 1rem;
    --FSIZE-L: 1.3rem;
    --FSIZE-XL: 2rem;
    --FSIZE-XXL: 4rem;
    --FSIZE-LARGEST: 6rem;
    /* Font Families */
    --FF-MAIN: French;
    --FF-BRAND: French-Canon-Bold;
    
    /* Text colors for color theme: dark) */
    --TEXT-COLOR-LIGHT: antiquewhite;
    --TEXT-COLOR-LIGHTER: white;
    
    /* TYPOGRAPHY: To be added later */
    /*--FF-ALT-1
    --FF-ALT-2


    --TEXT-COLOR-DARK
    --TEXT-COLOR-DARK-ALT-1
    --TEXT-COLOR-DARK-ALT-2
    --TEXT-COLOR-LIGHT-ALT-1
    --TEXT-COLOR-LIGHT-ALT-2
    */
}
/* UTILITY */
.utility-readable-text{
    position: absolute;
    left: -10000px;
}

.utility-disclaimer-text-small{
    font-size: var(--FSIZE-SMALLEST);
    display: inline-block;
}
/* GLOBAL STYLES */
html body{
    /* background-image: var(--BGIMG); */
    background-color: rgb(37, 37, 37);
    height: 100vh;

    color: var(--TEXT-COLOR-LIGHT);
    font-family: var(--FF-MAIN);
}
html{
    position: relative;
}
/* Navbar */
.haki-logo{
    /* font-size: var(--FSIZE-LARGEST); */
    font-family: var(--FF-BRAND);
    font-weight: bolder;
    text-shadow: 1px 1px 1px gray;
    color: red;
    /* color: white; */

}
.navbar{
    background-color: var(--BGCOLOR-ICONS-1);
    color: var(--TEXT-COLOR-LIGHT);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.7);
    margin-bottom: 1rem;
} 

#navbarSupportedContent a{
    /* background-color: aqua; */
    color: var(--TEXT-COLOR-LIGHT);
}

.navbar input{
    color: antiquewhite;
}

.nav-item .btn{
    margin: 0 0.5rem;
}

.nav-item .icon{
    transform: scale(110%);
}
.bi-person-circle{
    height: 1.1rem; width: 1.1rem;
}

.fa-shopping-cart{
    transform: scale(150%);
    padding-right: 0.5rem;
}
/* Footer */
footer{
    bottom: 0;
    background-color: var(--BGCOLOR-ICONS-1);
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5rem 1rem 0rem 1rem;
    margin-top: 1rem;

    color: var(--TEXT-COLOR-LIGHT)
}

footer ul{
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.left-footer-title{
    font-size: var(--FSIZE-XXL);
}

.logo-italic{
    font-style: italic;
}

.left-footer-promo ul{
    display: flex;
    justify-content: space-evenly;
    border: 2px red solid;
}

.right-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 4rem;
    align-items: center;
    align-content: first baseline;
    /* gap: 30%; */
    text-align: right;
}

.right-footer a{
    text-decoration: none;
    color: var(--TEXT-COLOR-LIGHT);
    font-size: var(--FSIZE-S);
}

.right-footer li:first-child{
    /* margin-top: 6.9px; */
    /* Kafi gay lag raha chee */
}

.right-footer div:last-child{
    margin-right: 15px;
}

footer a:is(:hover, :focus){
    color: var(--TEXT-COLOR-LIGHTER);
    text-decoration: underline;
    /* font-weight: bold; */
}