/* IMPORTS */
@font-face {
    font-family: French;
    src: url(fonts/FeFCrm2.ttf);
}
@font-face {
    font-family: French2;
    src: url(fonts/FeFCrm2.ttf);
}
@font-face {
    font-family: French-Canon-Bold;
    src: url(fonts/im-fell-french-canon.bold.ttf);
}
/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}
/* VARIABLES */
:root{
    /* BACKGROUND IMAGES */
    /* Alt: Light mode
       Main: Dark mode */
    --BGIMG: url('assets/background.png');
    --BGIMG-ALT: url('assets/background.png');          /*  Light mode background */
    --BGCOLOR: rgb(59, 59, 59);
    --BGCOLOR-ICONS-1: black;
    
    /* Font sizes */
    --FSIZE-SMALLEST: 0.5rem;
    --FSIZE-S: 0.7rem;
    --FSIZE-SLIGHTLY-SMALLER: 0.8rem;
    --FSIZE: 1rem;
    --FSIZE-SLIGHTLY-LARGER: 1.15rem;
    --FSIZE-L: 1.3rem;
    --FSIZE-XL: 2rem;
    --FSIZE-XXL: 4rem;
    --FSIZE-LARGEST: 6rem;
    /* Font Families */
    --FF-MAIN: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
    --FF-BRAND: French-Canon-Bold;
    --FF-BRAND-2: French;
    
    /* Text colors for color theme: dark) */
    --TEXT-COLOR-LIGHT: antiquewhite;
    --TEXT-COLOR-LIGHTER: white;
    
    /* TYPOGRAPHY: To be added later */
    /*--FF-ALT-1
    --FF-ALT-2


    --TEXT-COLOR-DARK
    --TEXT-COLOR-DARK-ALT-1
    --TEXT-COLOR-DARK-ALT-2
    --TEXT-COLOR-LIGHT-ALT-1
    --TEXT-COLOR-LIGHT-ALT-2
    */
}
/* UTILITY */
.utility-readable-text{
    position: absolute;
    left: -10000px;
}

.utility-disclaimer-text-small{
    font-size: var(--FSIZE-SMALLEST);
    display: inline-block;
}

.single-line-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* GLOBAL STYLES */
html body{
    /* background-image: var(--BGIMG); */
    background-color: rgb(37, 37, 37);
    height: 100vh;

    color: var(--TEXT-COLOR-LIGHT);
    font-family: var(--FF-MAIN);


}
html{
    position: relative;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer/Edge */
}
/* Navbar */
.haki-logo{
    /* font-size: var(--FSIZE-LARGEST); */
    font-family: var(--FF-BRAND);
    font-weight: bolder;
    text-shadow: 1px 1px 1px gray;
    color: red;
    /* color: white; */

}
.navbar{
    background-color: var(--BGCOLOR-ICONS-1);
    color: var(--TEXT-COLOR-LIGHT);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.7);
    margin-bottom: 1rem;
} 

#navbarSupportedContent a{
    /* background-color: aqua; */
    color: var(--TEXT-COLOR-LIGHT);
}

.navbar input{
    color: antiquewhite;
}

.nav-item .btn{
    margin: 0 0.5rem;
}

.nav-item .icon{
    transform: scale(110%);
}
.bi-person-circle{
    height: 1.1rem; width: 1.1rem;
}

.fa-shopping-cart{
    transform: scale(150%);
    padding-right: 0.5rem;
}
/* Footer */
footer{
    background-color: var(--BGCOLOR-ICONS-1);
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5rem 1rem 0rem 1rem;
    margin-top: 1rem;

    color: var(--TEXT-COLOR-LIGHT)
}

footer ul{
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.left-footer-title{
    font-size: var(--FSIZE-XXL);
    font-family: var(--FF-BRAND-2);
}

.logo-italic{
    font-style: italic;
}

.left-footer-promo ul{
    display: flex;
    justify-content: space-evenly;
    border: 2px red solid;
}

.right-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 4rem;
    align-items: center;
    align-content: first baseline;
    /* gap: 30%; */
    text-align: right;
}

.right-footer a{
    text-decoration: none;
    color: var(--TEXT-COLOR-LIGHT);
    font-size: var(--FSIZE-S);
}

.right-footer div:last-child{
    margin-right: 15px;
}

footer a:is(:hover, :focus){
    color: var(--TEXT-COLOR-LIGHTER);
    text-decoration: underline;
    /* font-weight: bold; */
}

.card-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 7%;
    box-sizing: border-box;
    color: var(--TEXT-COLOR-LIGHT);
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: var(--FSIZE);
    font-weight: 600;
    line-height: normal;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    will-change: transform;
  
    padding: 8px 8px;
  }
  
  .card-button:disabled {
    pointer-events: none;
  }
  
  .card-button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .card-button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Remove spin buttons in Firefox */
  input[type="number"] {
      -moz-appearance: textfield;
  }

/* Product Cards */
.product-card {
    width: 28%;
    height: 42rem;
    margin: 1rem 0;
    background-color: var(--BGCOLOR-ICONS-1);
    border-radius: 2.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.product-card:is(:hover, :focus) {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

/* Product Card: Image */
.product-card .product-image {
    flex: 0 0 60%; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

.product-card .product-image img {
    width: 75%;
    height: 100%;
    object-fit: cover;
}

/* Other details */
.product-details {
    flex: 0 0 40%; 
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Author and Title */
.book-credentials {
    height: 30%;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid var(--TEXT-COLOR-LIGHT); */
    line-height: 1.3rem;
    
}

.product-card :is(.product-title, .product-author) {
    text-align: center;
}

.product-card .product-title {
    font-size: var(--FSIZE-L);
    margin-top: 0.5rem;
}

.product-card .product-author {
    margin: 0;
    font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    margin-bottom: 0.5rem;
}

/* Genres and Rating */
.product-card .product-genre-rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px red solid; */
    height: 28%;
}
.product-genre:is(.Self-Help, .Non-Fiction, .Science) {
    background-color: #ccf9ff;
    color: #3369cc;
}

.product-genre:is(.Anthropology, .Autobiography, .Dystopian, .War){
    background-color: gray;
    color: #000000;
}

.product-genre:is(.Romance, .Horror, .Psychological, .Philosophy) {
    background-color: #ffcccc;
    color: #cc0000;
}

.product-genre:is(.Historical, .Commentary, .Comedy, .Survival) {
    background-color: #ccffcc;
    color: #009933;
}
.product-genre:is(.Comedy, .Business){
    background-color: #fef2b5;
    color: rgb(160, 160, 0)
}

.product-genre:is(.Fiction, .Fantasy, .Mythology, .Adventure){
    color: rebeccapurple;
    background-color: rgb(250, 213, 219);
}
.product-card .product-genre-container {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
}

.product-card .product-genre {
    display: inline-flex;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-weight: bold;
    font-size: var(--FSIZE-SLIGHTLY-SMALLER);
}

.product-card .product-rating {
    display: inline-flex;
    text-align: right;
    font-size: var(--FSIZE-SLIGHTLY-LARGER);
    margin-right: 0.5rem;
}

/* Download Details */
.download-details {
    /* margin-left: 0.6rem; */
    display: flex;
    justify-content: space-between;
    /* border: 1px red solid; */

}

.product-file {
    font-size: var(--FSIZE-SLIGHTLY-LARGER);
}

/* Buttons */
.card-buttons {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Pushes the buttons to the bottom */
}


.fav-button{
    margin-left: 5.5rem;
}
/* Button Styles */
.hover-button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    will-change: transform;
  }
  
  .hover-button:disabled {
    pointer-events: none;
  }
  
  .hover-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .hover-button:active {
    box-shadow: none;
    transform: translateY(0);
  }


@media screen and (min-width: 480px){
    footer{
        flex-flow: column nowrap;
        text-align: center;
    }
    header .icon{
        margin-left: 1.5rem;
    }
    header .fa-shopping-cart{
        transform: scale(95%);
    }
    .left-footer{
        display: flex;
        justify-content: center;
    }
  }

@media screen and (min-width: 768px){
    header .icon{
        margin-left: 2.2rem;
    }
}

@media screen and (min-width: 992px){
    header .icon{
        margin-left: 0rem;
    }
    footer{
        flex-flow: row nowrap;
    }
    .left-footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1200px){
    header .fa-shopping-cart{
        transform: scale(100%);
    }
}