html body .navbar{
    margin-bottom: 0;
}

.banner-readable{
    display: flex;
    flex-direction: column;
    padding:1rem;

    .banner-title{
        margin:0 auto;
        font-family: var(--FF-BRAND);
        font-size: var(--FSIZE-XXL);
        text-align: center;
    }
    .banner-promo{
        margin:0 auto;
        font-family: var(--FF-BRAND);
        text-align: center;
        font-size: var(--FSIZE-L);
        width:75%;
        margin-bottom: 2rem;
    }
}

.banner{
    width: 100%;
    height: 32rem;
    /* filter: grayscale(0.5) */
    filter: brightness(0.30)
}

.banner-figure{
    display: block;
    position: absolute;
    z-index: -100;
    width: 100%;
    height: fit-content;
}

.banner-figure:hover,
.banner:hover{
    transform: scale(1000%);
}
.about{
    padding: 1rem;
    text-align: center;
    margin-bottom: 4rem;

    span:first-child{
        background-color: aqua;
    }

    .line-idk-man-why-am-I-even-trying{
        width: 6rem;
        height: 3px;
        background-color: var(--TEXT-COLOR-LIGHT);
        margin: 8px auto;
    }

    .promises-container{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 25%);
        justify-content: center;


        .promise-card{
            height: min(fit-content, 15rem);
            background-color: var(--BGCOLOR-ICONS-1);
            padding: 1rem;
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);

            .promise-text{
                display: inline-block;
            }

            i{
                transform: scale(150%);
                height:1.4rem
            }
        }
        .promise-card:nth-of-type(2){
            /* background-image: url(assets/background.png); */
            background-color: aqua;
        }
        hr{
            margin: 0.5rem
        }
    }
}

.promo{
    height: 18rem;
    width: 100%;
    background-color: var(--BGCOLOR-ICONS-1);
    padding: 1rem;

    h5,
    #pp{
        text-align: center;
        display: block;
    }

    .icons{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .number, .desc{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .number{
        font-size: var(--FSIZE-XL);
        font-weight:600;
        margin-bottom: 0;
    }
}

.featured{

    h3{
        text-align: center;
        font-size: var(--FSIZE-XL);
        margin-top: 1.2rem;
    }
    .line-idk-man-why-am-I-even-trying{
        background-color: var(--TEXT-COLOR-LIGHT);
        height:4px;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 10rem
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        column-gap: 2rem;
        justify-content: center;

        .featured-card{
            position: relative;
            height: 25rem;
            background-color: var(--BGCOLOR-ICONS-1);
            padding: 1rem;
            border-radius: 15px;

            transition: 3ms ease-in;

            display: flex;
            flex-direction: column;
            align-items: center;

            .genre-desc{
                display: block;
                text-align: center;
                font-weight: bold;
                font-size: 1.05rem;
                padding: 5px;
                margin-bottom: 1.35rem;
            }
            .genre-desc, 
            .genre-title,
            .icon{
                z-index: 1;
            }
        }

        .featured-card:first-child > .backdrop{
            position: absolute;
            filter: blur(10px);
            top:0;
            left:0;
            z-index: 0;
        }

        .featured-card:is(:hover, :focus){
            transform: translateY(-2px);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        }
    }
}

.bestsellers{
    margin-top:3rem;
    width: 100%;
    background-color: var(--BGCOLOR-ICONS-1);
    height:fit-content;
    padding: 1rem;

    .bestsellers-text{
        margin-bottom: 3rem;
        text-align: center;
    }
}
.bestsellers-ribbon{
    display: flex;
    justify-content: space-around;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .backdrop{
            position: absolute;
            top: 0;
            filter: blur(10px);
            z-index: 1;
            margin: 0 auto;
            width: 80%;
        }

        img{
            height: 20rem;
            align-self: center;
            z-index: 2;
        }

        .text{
            text-align: center;
        }
    }
}
html .about > span{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.sideswipe-btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  will-change: transform;
}

.sideswipe-btn:disabled {
  pointer-events: none;
}

.sideswipe-btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.sideswipe-btn:active {
  box-shadow: none;
  transform: translateY(0);
}