.product-container{
    display: grid;
    grid-template-columns: 0.6fr 1.1fr;
    grid-template-rows: auto;
}
.product-image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image > .backdrop{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    object-fit: contain;
    z-index: -100;
}

.product-image > img{
    object-fit: contain;
}

.product-info{
    background-color: black;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.upper-specs{
    display: flex;
    gap: 5rem;
    font-size: var(--FSIZE-SLIGHTLY-LARGER);
    /* font-weight: bold; */
}

.lower-specs{
    display: flex;
    gap: 3rem;
}

.ratings{
    display: flex;
    gap: 1rem;
}

.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;

    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;

}

.icons div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icons .fas{
    color: var(--TEXT-COLOR-LIGHTER);
}

#review-form{
    border: 1px solid red;
    background-color: var(--BGCOLOR-ICONS-1);
    margin-top: 3rem;
}

.review-top{
    display: flex;
    /* justify-content: space-around; */
    gap: 3rem;
    align-items: center;
}

.review-body{
    display: block;
    width: 80%;
    height: fit-content;
}
#review-title{
    width: 75%
}
.review-section{
    display: flex;
    flex-direction: column;
}
.review-item{
    background-color: var(--BGCOLOR-ICONS-1);
    padding: 1rem;
    height: fit-content;

    .review-title{
        display: block;
        font-size: var(--FSIZE-SLIGHTLY-LARGER);
    }
    .review-credentials{
        display: block;
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    }
}
@media screen and (min-width: 320px) {
    .product-container{
        grid-template-columns: 1fr;
    }

    .icons{
        font-weight: normal;
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    }
}

@media screen and (min-width: 768px){
    .icons{
        font-weight: bold;
        font-size: var(--FSIZE);
    }
}

@media screen and (min-width: 1200px){
    .product-container{
        grid-template-columns: 0.6fr 1.1fr;
    }
}