.product-container{
    display: grid;
    grid-template-columns: 0.6fr 1.1fr;
    grid-template-rows: auto;
}
.product-image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image > .backdrop{
    position: absolute;
    top: 1.5rem;
    bottom: 0;
    height: 120%;
    width: 110%;

    object-fit: contain;
    z-index: -100;
    background-size: cover;
    filter: blur(40px);
}

.product-image > img{
    object-fit: contain;
}
.product-info{
    background-color: black;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.upper-specs{
    display: flex;
    gap: 5rem;
    font-size: var(--FSIZE-SLIGHTLY-LARGER);
    /* font-weight: bold; */
}

.lower-specs{
    display: flex;
    gap: 3rem;
}

.ratings{
    display: flex;
    gap: 1rem;
}

.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;

    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;

}

.icons div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icons .fas{
    color: var(--TEXT-COLOR-LIGHTER);
}
.reviews-top{
    padding: 1rem;
    text-align: center;
}
.form-top{
    text-align: center;
    background-color: var(--BGCOLOR-ICONS-1);
    margin-top: 1rem;
    padding: 1rem;
    border-top: 1px solid var(--TEXT-COLOR-LIGHTER)
}
#review-form{
    background-color: var(--BGCOLOR-ICONS-1);
    /* margin-top: 3rem; */
    padding: 1rem;
}

.review-top{
    display: flex;
    /* justify-content: space-around; */
    gap: 2rem;
    align-items: center;
}

.review-body{
    display: block;
    height: fit-content;
    margin: 10px 0;
}
#review-title,
.review-body{
    width: 45%;
    outline: none;
    border-radius: 10px;
}
.review-section{
    border-top: 1px solid var(--TEXT-COLOR-LIGHTER);
    display: flex;
    flex-direction: column;
}
.review-section .empty-msg{
    text-align: center;
    padding: 1rem;
    font-size: var(--FSIZE-XL);
    background-color: var(--BGCOLOR-ICONS-1);
}
.review-item{
    background-color: var(--BGCOLOR-ICONS-1);
    padding: 1rem;
    height: fit-content;
    width: 95%;
    margin: 0.5rem auto;
    border-radius: 15px;

    .review-title{
        display: block;
        font-size: var(--FSIZE-XL);
        font-weight: bold;
    }
    .review-credentials{
        display: block;
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    }
}

.review-item:nth-child(even){
    background-color: gray;
    color: var(--BGCOLOR-ICONS-1)
}
@media screen and (min-width: 320px) {
    .product-container{
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .icons{
        font-weight: normal;
        font-size: var(--FSIZE-SLIGHTLY-SMALLER);
    }
}

@media screen and (min-width: 768px){
    .icons{
        font-weight: bold;
        font-size: var(--FSIZE);
    }
}

@media screen and (min-width: 1200px){
    .product-container{
        grid-template-columns: 0.6fr 1.1fr;
    }
}