<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}USER INACCESSIBLE - BASE TEMPLATE {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='global2.css')}}">
    <!-- <link rel="stylesheet" href="global.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand HAKI" data-aos="fade-down" style="color: black;" href="#">Haki</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                    <li class="nav-item">
                        <a class="nav-link active header-text" aria-current="page" style="color: white;" data-aos="fade" data-aos-duration="3000" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-text" href="#" style="color: white;" data-aos="fade" data-aos-duration="3000" >Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle header-text" href="#" role="button" data-bs-toggle="dropdown" data-aos="fade" data-aos-duration="3000" 
                            aria-expanded="false" style="color: white;">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item header-text" href="#" style="color: white;">Action</a></li>
                            <li><a class="dropdown-item header-text" href="#" style="color: white;">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item header-text" href="#" style="color: white;">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true" style="color: white;" data-aos="fade" data-aos-duration="3000" >Disabled</a>
                    </li>
                </ul>
                <!-- Kaafi gay lag raha search bar -->
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-danger" type="submit">Search</button>
                </form> -->
                <!-- Profile Icon -->
                <ul class="navbar-nav" data-aos="fade-left" >
                    <li class="nav-item">
                        <!-- {% if signedIn %}--><a class="nav-link" href="#" style="color: white;"><i class="bi bi-person-circle"></i> Profile</a> 
                        <!-- {% else %} -->
                        <a class="nav-link" href="#" style="color: white;"><i class="bi bi-person-circle"></i> Guest</a>
                        <!-- {% endif %} -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="left-footer" data-aos="fade-right" data-aos-duration="3000">
            <div class="left-footer-title">
                HAKI<span class="logo-italic"></span>
            </div>
            <div class="left-footer-promo   ">

            </div>
            <div class="left-footer-copyrights" style="font-weight: bold;">
                 A TVS PRODUCT.
                &copy;
                &trade;
            </div>
        </div>
        <div class="right-footer" data-aos="fade-left" data-aos-duration="3000">
            <div class="right-footer-legal">
                <b>Legal</b>
                <ul>

                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms Of Service</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Accessibility</a></li>
                </ul>
            </div>
            <div class="right-footer-support">
                <b>Support</b>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Shipping Policy</a></li>
                    <li><a href="#">Returns/Refunds</a></li>
                </ul>
            </div>
            <div class="right-footer-socials header-text">
                <b>Socials</b>
                <ul>
                    <li><a href="https://www.youtube.com">
                        YouTube
                    </a></li>
                    <li><a href="https://www.twitter.com">
                        Twitter
                    </a></li>
                    <li><a href="https://www.facebook.com">
                        Facebook
                    </a></li>
                    <li><a href="https://www.Instagram.com">
                        Instagram
                    </a></li>
                </ul>
            </div>
        </div>

    </footer>
</body>
<script>
  AOS.init();
</script>

</html>