{% extends 'baseTemplate.html' %}
{%block title %} Seneca: Cart {% endblock %}
{% block additionalDependencies %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='cart.css')}}" />
{% endblock %}
{% block content %}

<body>
    {% if isEmpty %}
    <div class="empty-cart-msg">

        <h2 id="quote">Emptiness, it turns out, is just that: empty.</h2>
        <hr>
        <p>It looks like your cart is as empty as a writer's page before the first sip of coffee. At Seneca, we're all
            about filling your world with words. So why not explore our shelves and add some literary treasures? After
            all, a cart without books is like a bookshelf without stories—completely unheard of! <br>Happy reading! </p>
    </div>

    <div class="center-container">
        <a href="{{ url_for('home') }}">
            <button type="button" class="browse-button">Browse</button>
        </a>
    </div>

    {% else %}
    <div class="cart-container">
    {% for items in cart %}
        <div class="cart-items">
            {{cart[items]['title']}}
            {{cart[items]['author']}}
            {{cart[items]['price']}}
        </div>
    {% endfor %}
    </div>

    <div class="cart-summary">
        total-price: {{pp}}
    </div>
    {% endif %}


</body>
{% endblock %}