{% extends 'baseTemplate.html' %}

{% block content %}
<section id="message">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti libero at sint cum. Non ullam aliquid sed ea
    esse, officia quae cum voluptatem eum nesciunt accusantium amet eligendi a quod. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Corporis obcaecati explicabo aspernatur laudantium perferendis sed praesentium
    tempora, labore, aut repudiandae unde voluptatibus. Repellat commodi, quae sint voluptas sunt laboriosam molestiae!
</section>

{% endblock %}