{% extends 'baseTemplate.html' %}
{% block title %} Home {% endblock %}
{% block additionalDependencies %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='homepageStyles.css')}}">
{% endblock %}
{% block content %}
<section class="banner-container" style="border: 2px solid red">
    <figure class="banner-figure">
        <img src="{{url_for('static', filename='assets/Alexandria.jpg')}}" alt="Library of Alexandria" class="banner">
    </figure>
    <div class="banner-readable">
        <h1 class="banner-title">Seneca: Where Every Story Matters</h1>
        <hr>
        <span class="banner-promo">
            At Seneca, we believe that reading is not just a pastime—it's a way of life. Our unwavering dedication to
            bringing the world's finest books to your fingertips ensures that you experience literature like never
            before. Whether you're lounging at home, commuting to work, or traveling the globe, Seneca makes it possible
            to immerse yourself in your favorite stories anytime, anywhere.<br>

            With an unparalleled selection of ebooks, we cater to every reader's taste, offering everything from
            timeless classics to contemporary bestsellers. Our platform is designed for ease of use, ensuring that every
            book, every story, and every word is just a click away. Join us at Seneca and embrace the future of
            reading—where every turn of the page opens a new world of possibilities. Discover the joy of reading with
            us, and let Seneca be your ultimate literary companion.<br>
        </span>
        <button id="redirect-catalogue" class="sideswipe-btn" type="button">Explore</button>
    </div>
</section>
<section class="about">
    <h2 class="brand-text">About Us</h2>
    <div class="line-idk-man-why-am-I-even-trying"></div>
    <span class="fancy-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti rem ipsa quidem ducimus
        impedit eos debitis
        facilis dolores necessitatibus excepturi incidunt esse temporibus, nulla veritatis! Eos quidem molestias
        deserunt praesentium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis perspiciatis quis ab
        sint ratione! Tempore optio impedit officiis consequuntur quidem dicta animi, non commodi, ad numquam
        praesentium quasi ex minima? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eveniet ad numquam
        nostrum animi. Accusantium, sed dolorum minus voluptate explicabo labore eligendi iste odit, nesciunt quis
        provident voluptatem cumque ipsam?</span>
    <div class="promises-container">
        <div class="promise-card">
            <i class="fas fa-shield-alt"></i>
            <hr>
            <h5 class="fancy-text">Trust</h5>
            <span class="promise-text">At Seneca, we prioritize your security and privacy.
                Your trust is our top priority, and we are committed to providing a safe and secure online
                environment for all our users.</span>
        </div>
        <div class="promise-card">
            <i class="fas fa-heart"></i>
            <hr>
            <h5 class="fancy-text">Support</h5>
            <span class="promise-text">At Seneca, support goes beyond just providing help when needed.
                The support from both our team and our user community is always available to enhance your Seneca
                experience.</span>

        </div>
        <div class="promise-card">
            <i class="fas fa-book"></i>
            <hr>
            <h5 class="fancy-text">Diversity</h5>
            <span class="promise-text">Seneca boasts an unparalleled collection of ebooks, catering to every reader's
                taste. Whether you're seeking the latest thriller, a heartwarming
                romance, or non-fiction, we has it all.</span>
        </div>
    </div>
</section>
<section class="promo">
    <h5 class="brand-text">Why Choose Seneca</h5>
    <span class="fancy-text" id="pp">Our platform is built on accomplishments, not just promises</span><hr>
    <span class="promo-subheader">
    </span>
    <div class="icons">
        <div class="icon">
            <img src="{{url_for('static', filename='assets/map-location-pin-svgrepo-com.svg')}}" alt="genres">
            <span class="number">20+</span>
            <span class="desc">Genres to explore</span>
        </div>
        <div class="icon">
            <img src="{{url_for('static', filename='assets/download-svgrepo-com.svg')}}" alt="downloads">
            <span class="number">300K+</span>
            <span class="desc">Book downloads</span>
        </div>
        <div class="icon">
            <img src="{{url_for('static', filename='assets/books-svgrepo-com.svg')}}" alt="books">
            
        <span class="number">90K+</span>
        <span class="desc">Books Available</span>
        </div>
        <div class="icon">
            <img src="{{url_for('static', filename='assets/user-svgrepo-com.svg')}}" alt="user">
        <span class="number">10K+</span>
        <span class="desc">Users on Seneca</span>
        </div>
    </div>
</section>
<section class="featured">
    <h3 class="brand-text">Featured Genres</h3>
    <div class="line-idk-man-why-am-I-even-trying"></div>

    <div class="container">
        <div class="featured-card">
                <!-- <img class="backdrop" src="{{url_for('static', filename='assets/romance-bg.jpg')}}"></img> -->
            <img class="icon" src="{{url_for('static', filename='assets/heart-angle-svgrepo-com.svg')}}"></img>
            <span class="genre-title">Romance<hr></span>
            <span class="genre-desc">Romance novels sweep readers off their feet with tales of love, passion, and heartfelt connections. Whether it's a classic love story, a contemporary romance, or a historical romance, this genre captivates the heart and soul, offering a delightful escape into the world of emotion and intimacy.</span>
        </div>
        <div class="featured-card">

            <img class="icon" src="{{url_for('static', filename='assets/dragon-svgrepo-com.svg')}}"></img>
            <span class="genre-title">Fiction<hr></span>
            <span class="genre-desc">Fiction opens the door to endless possibilities, transporting readers to imaginative worlds and introducing them to unforgettable characters. This genre encompasses a wide range of stories, from literary masterpieces that delve into the human condition to thrilling adventures that keep readers on the edge of their seats.</span>
        </div>
        <div class="featured-card">
            <div class="backdrop"></div>
            <img class="icon" src="{{url_for('static', filename='assets/eye-svgrepo-com.svg')}}"></img>
            <span class="genre-title">Dystopian<hr></span>
            <span class="genre-desc">Dystopian fiction paints a picture of societies gone awry, where oppressive regimes, environmental catastrophes, or technological domination create a grim reality. These narratives often serve as a cautionary tale, exploring themes of survival, rebellion, and the resilience of the human spirit.</span>
        </div>
    </div>
</section>
<section class="stories"></section>
{% endblock %}